html, body {
    /* margin: 0 0; */
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}